<html>
<head>

    <title> vue-toasted by shakee93 </title>
    <link rel="shortcut icon" type="image/png" href="https://github.com/fluidicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="assets/js/prism.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-96866382-1', 'auto');
        ga('send', 'pageview');

    </script>
    <style>

        #app, body {
            font-family: 'Roboto', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        header {
            background: #FAFAFA;
            padding: 25px 50px;
        }

        .logo img {
            width: 100%;
        }

        .theme img {
            margin-top: -8px;
        }

        .box {
            width: 120px;
            margin-left: 20px;
        }

        .tile {
            width: 31.5%;
            background: #9aeae3;
            height: 40px;
            border: 1px solid #26a69a;
            float: left;
            margin: 1px;
            cursor: pointer;
            border-radius: 1px;
        }

        .tile.active {
            background: #26a69a;
            border-color: #0d6f66;
        }

        :not(pre) > code[class*="language-"], pre[class*="language-"] {
            padding: 1px 2em;
            border-radius: 6px;
            background: white;
        }

        .buffer {
            padding: 40px 10px 0;
        }

        .label {
            font-weight: bold;
            color: #1d2726;
            letter-spacing: 0.6px;
        }

        .switch {
            margin-left: 24px;
        }

        .input-field {
            margin-top: 0;
        }

        code {
            padding: 3px 9px;
            background: #f1f1f1;
            border-radius: 4px;
        }

        .duration {
            margin-top: 15px;
        }

        .code-preview {
            margin-bottom: 50px;
        }

        .position {
            margin-top: -10px;
        }

        .show-button {
            margin-top: 25px;
        }

        .show-button a {
            padding: 0 20px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: none;
        }

        .heart::after {
            content: '❤';
            font-size: 16px;
            color: #F44336;
            margin: 4px;
        }

        .no-gutter {
            margin:0;
        }

        .autocomplete-content li img {
            opacity: .4;
            height: 30px;
            width: 30px;
            margin: 10px 15px;
        }

        .toasted.primary {
            font-weight: 500 !important;
        }

        .flex {
            display: flex;
        }

        .label.flex i {
            margin-left: 9px;
            margin-top: -2px;
        }

        .actions .input-field.inline {
            width: 160px;
        }

        .seperator {
            border-right: 1px solid #e8e8e8;
            margin-right: 29px;
        }

        @media only screen and (max-width : 600px){
            .btn {
                display: block;
            }

            .duration {
                margin-top: 0;
            }


        }
    </style>
</head>
<body>
<div id="app">
    <header>
        <div class="row no-gutter">
            <div class="col m2 s12 logo">
                <img src="assets/images/logo.png" alt="Vue Toasted">
            </div>
        </div>
    </header>
    <div class="container buffer">
        <div class="row">
            <p class="center">
                Check out <a target="_blank" href="https://github.com/shakee93/vue-toasted"><code>vue-toasted</code></a> in action here, tweak the options and toast it !!
                <br>
                Checkout Documentation at Git Repository
            </p>
            <p class="center">
                <a class="github-button" href="https://github.com/shakee93/vue-toasted" data-icon="octicon-mark-github" data-style="mega"  >View Github</a>
                <a class="github-button" href="https://github.com/shakee93/vue-toasted" data-icon="octicon-star" data-style="mega" data-count-href="/shakee93/vue-toasted/stargazers" data-count-api="/repos/shakee93/vue-toasted#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star shakee93/vue-toasted on GitHub">Star</a>
            </p>
        </div>
        <div class="row">
            <div class="col m6 offset-m3 hide-on-small-only code-preview">
                <p class="label"> Code Preview </p>
                <pre class="z-depth-2">
                   <code v-html="highlighted" class="language-javascript"></code>
               </pre>
            </div>
            <div class="col s12 offset-s0 m4 offset-m2 seperator">
                <div class="row theme">
                    <p class="label"> Theme </p>
                    <p>
                        <input name="theme" v-model="theme" type="radio"  id="primary-theme" value="primary" />
                        <label for="primary-theme">
                            <img src="assets/images/2.jpg" width="100" alt="">
                        </label>
                    </p>
                    <p>
                        <input name="theme" v-model="theme" type="radio" id="bubble-theme" value="bubble" />
                        <label for="bubble-theme">
                            <img src="assets/images/3.jpg" width="100" alt="">
                        </label>
                    </p>

                    <p>
                        <input name="theme" v-model="theme" type="radio" id="outline-theme" value="outline" />
                        <label for="outline-theme">
                            <img src="assets/images/1.jpg" width="110" alt="" style="margin-left: -4px;">
                        </label>
                    </p>
                </div>

                <div class="row actions">
                    <p class="label">Actions</p>

                    <div class="col s11">
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <div class="input-field inline">
                                    <input  type="text" v-model="new_action" @keyup.enter="addAction()">
                                </div>
                                <a class="btn-floating waves-effect waves-light green" @click="addAction()"><i class="material-icons">add</i></a>

                            </li>
                            <li class="collection-item" v-for="(action, index) in actions">
                                {{ action.text }}
                                <a href="#!" class="secondary-content"  @click="actions.splice(index, 1)"><i class="material-icons">close</i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row position">
                    <p class="label"> Container Position </p>
                    <div class="row">
                        <div class="box">
                            <label :class="{'active' : position == 'top-left' }" for="position-top-left" class="tile"> <input v-model="position" id="position-top-left" value="top-left" name="position" type="radio"/> </label>
                            <label :class="{'active' : position == 'top-center' }" for="position-top-center" class="tile"> <input v-model="position" id="position-top-center" value="top-center" name="position" type="radio"/> </label>
                            <label :class="{'active' : position == 'top-right' }" for="position-top-right" class="tile"> <input v-model="position" id="position-top-right"  value="top-right" name="position" type="radio"/> </label>
                            <label :class="{'active' : position == 'bottom-left' }" for="position-bottom-left" class="tile"> <input v-model="position" id="position-bottom-left"  value="bottom-left" name="position" type="radio"/> </label>
                            <label :class="{'active' : position == 'bottom-center' }" for="position-bottom-center" class="tile"> <input v-model="position" id="position-bottom-center"  value="bottom-center" name="position" type="radio"/> </label>
                            <label :class="{'active' : position == 'bottom-right' }" for="position-bottom-right" class="tile"> <input v-model="position" id="position-bottom-right" value="bottom-right" name="position" type="radio"/> </label>
                        </div>
                    </div>
                </div>



            </div>
            <div class="col s12 offset-s0 m4">
                <div class="row duration">
                    <p  class="label"> Duration</p>
                    <div class="input-field col s12">
                        <select id="duration" v-model="duration">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="null">Infinity</option>
                            <option value="500">0.5 Seconds</option>
                            <option value="1000">1 Second</option>
                            <option value="2000">2 Seconds</option>
                            <option value="5000">5 Seconds</option>
                            <option value="30000">30 Seconds</option>
                            <option value="60000">1 Minute</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <p class="label">Toast Text</p>
                    <div class="input-field col s12">
                        <input placeholder="Placeholder" id="first_name" type="text" v-model="text">
                    </div>
                </div>

                <div class="row">
                    <p class="label flex">
                        Pick Icon
                        <i class="material-icons" v-text="icon"></i>

                    </p>
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="autocomplete-input" v-model="icon" class="autocomplete">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="label"> Full Width </p>
                    <div class="row">
                        <div class="switch">
                            <label>
                                Off
                                <input v-model="fullWidth" type="checkbox">
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row show-button">
                    <a class="waves-effect waves-light btn" @click="buildToast">
                        Launch Toast</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="row">
            <p class="center">
                <a target="_blank" href="https://twitter.com/shakee93">Twitter</a>
                <span class="heart"></span>
                <a target="_blank" href="https://github.com/shakee93/vue-toasted">Github</a>
            </p>
        </div>
    </footer>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>
<script src="https://unpkg.com/vue-toasted@1.0.33-alpha.1"></script>
<script src="assets/js/prism.js"></script>

<script>

    Vue.use(Toasted);

    var icons = [
        "3d_rotation",
        "accessibility",
        "accessible",
        "account_balance",
        "account_balance_wallet",
        "account_box",
        "account_circle",
        "add_shopping_cart",
        "alarm",
        "alarm_add",
        "alarm_off",
        "alarm_on",
        "all_out",
        "android",
        "announcement",
        "aspect_ratio",
        "assessment",
        "assignment",
        "assignment_ind",
        "assignment_late",
        "assignment_return",
        "assignment_returned",
        "assignment_turned_in",
        "backup",
        "book",
        "bookmark",
        "bookmark_border",
        "bug_report",
        "build",
        "cached",
        "camera_enhance",
        "card_giftcard",
        "card_membership",
        "card_travel",
        "change_history",
        "check_circle",
        "chrome_reader_mode",
        "class",
        "code",
        "compare_arrows",
        "copyright",
        "credit_card",
        "dashboard",
        "date_range",
        "delete",
        "delete_forever",
        "description",
        "dns",
        "done",
        "done_all",
        "donut_large",
        "donut_small",
        "eject",
        "euro_symbol",
        "event",
        "event_seat",
        "exit_to_app",
        "explore",
        "extension",
        "face",
        "favorite",
        "favorite_border",
        "feedback",
        "find_in_page",
        "find_replace",
        "fingerprint",
        "flight_land",
        "flight_takeoff",
        "flip_to_back",
        "flip_to_front",
        "g_translate",
        "gavel",
        "get_app",
        "gif",
        "grade",
        "group_work",
        "help",
        "help_outline",
        "highlight_off",
        "history",
        "home",
        "hourglass_empty",
        "hourglass_full",
        "http",
        "https",
        "important_devices",
        "info",
        "info_outline",
        "input",
        "invert_colors",
        "label",
        "label_outline",
        "language",
        "launch",
        "lightbulb_outline",
        "line_style",
        "line_weight",
        "list",
        "lock",
        "lock_open",
        "lock_outline",
        "loyalty",
        "markunread_mailbox",
        "motorcycle",
        "note_add",
        "offline_pin",
        "opacity",
        "open_in_browser",
        "open",
        "open_with",
        "pageview",
        "pan_tool",
        "payment",
        "perm_camera_mic",
        "perm_contact_calendar",
        "perm_data_setting",
        "play_for_work",
        "picture_in_picture_alt",
        "picture_in_picture",
        "pets",
        "perm_scan_wifi",
        "perm_phone_msg",
        "perm_media",
        "perm_identity",
        "perm_device_information",
        "redeem",
        "record_voice_over",
        "receipt",
        "question_answer",
        "query_builder",
        "print",
        "pregnant_woman",
        "power",
        "polymer",
        "remove_shopping_cart",
        "reorder",
        "report_problem",
        "restore",
        "restore_page",
        "room",
        "rounded_corner",
        "rowing",
        "schedule",
        "search",
        "settings",
        "settings_applications",
        "settings_backup_restore",
        "settings_bluetooth",
        "settings_brightness",
        "settings_cell",
        "settings_ethernet",
        "settings_input_antenna",
        "settings_input_component",
        "settings_input_composite",
        "settings_input_hdmi",
        "settings_input_svideo",
        "settings_overscan",
        "settings_phone",
        "settings_power",
        "settings_remote",
        "settings_voice",
        "shop",
        "shop_two",
        "shopping_basket",
        "shopping_cart",
        "speaker_notes",
        "speaker_notes_off",
        "spellcheck",
        "star_rate",
        "stars"
    ];

    var mappedIcons = {};

    icons.forEach(function (icon) {
        mappedIcons[icon] = 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_' + icon + '_black_18px.svg';
    });

    new Vue({
        el: '#app',
        data: {
            position: 'top-right',
            theme: "primary",
            text: "Toasted !!",
            duration: 5000,
            icon : 'hourglass_empty',
            fullWidth : false,
            actions : [],
            new_action: null
        },
        mounted() {

            var self = this;
            var duration_el = $('#duration');
            var autocomplete = $('input.autocomplete');

            duration_el.material_select();
            duration_el.on('change', function () {
               self.duration = $(this).val();
            });

            $(document).ready(function () {

                autocomplete.autocomplete({
                    data: mappedIcons,
                    limit: 10, // The max amount of results that can be shown at once. Default: Infinity.
                    onAutocomplete: function(val) {
                        self.icon = val;
                    },
                    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
                });
            })
        },
        methods: {
            buildToast(){
                var toast = this.$toasted.show(this.text, {
                    theme: this.theme,
                    position: this.position,
                    duration : this.duration,
                    fullWidth : this.fullWidth,
                    icon : this.icon,
                    action : this.actions
                });

                this.notifyGA();
            },
            notifyGA(){
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Toast',
                    eventAction: 'view-toast',
                    eventLabel: 'Viewed Toast',
                    eventValue  : this.$data
                });
            },
            addAction(){

                if(!this.new_action) {
                    return;
                }

                this.actions.push({
                    text : this.new_action,
                    onClick : function (e, t) {
                        t.goAway(0);
                    }
                });
                this.new_action = null;
            }
        },
        computed : {
            highlighted : function () {
                var htext = '\nlet toast = this.$toasted.show("' + this.text + '", { \n\t theme: "' + this.theme + '", \n\t position: "' + this.position + '", \n\t duration : ' + this.duration + '\n});';
                return Prism.highlight(htext, Prism.languages.javascript) ;
            }
        }
    });
</script>
</body>
</html>